# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/

# C++ / Intel oneAPI Build Artifacts
*.pyd
*.obj
*.lib
*.exp
*.dll
*.exe
*.pdb
*.ilk
build_logs/

# Editors
.vscode/
.idea/
*.swp

# Intel oneAPI
intel/
ONEAPI/
